html {
    background-color: rgb(0, 174, 180);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1 {
    top:0;
    background-color: black;
    box-shadow: 4px 4px rgb(0, 115, 105);
    border-radius: 10px;
    margin:0px;
    padding:10px;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    color: rgb(0, 115, 105);
    /* font-style: oblique; */
}

header {
    background-color: black;
}

#intopic, #submitTopic {
    display:flexbox;
}

#intopic {
    background-color: rgb(0, 0, 0);
    color: rgb(10, 183, 169);
    border:none;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(0, 115, 105);
    padding: 5px 10px;
    font-size: medium;
    height: 30px;
    width: 150px;
}

#submitTopic {
    font-weight: bold;
    text-align: center;
    background-color: rgb(22, 183, 148);
    color: rgb(183, 255, 229);
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(0, 115, 105);
    padding: 15px 10px 15px 10px;
    height: 40px;
    width: 100px;
}

#startTimer, #pauseTimer, #resumeTimer {
    text-align: center;
    font-size: small;
    font-weight: bold;
    background-color: rgb(21, 158, 129);
    color: rgb(183, 255, 229);
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px rgb(0, 115, 105);
    padding: 5px 15px;
    height: 50px;
    width: 80px;
    margin: 10px;
}

#toggle-btn {
    font-size:large;
    background-color: rgb(22, 183, 148);
    color: rgb(183, 255, 229);
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(0, 115, 105);
    padding: 10px 20px;
    width: fit-content;
}
 
#insideTimer {
    display: flex;
}

#timeInput {
    background-color: black;
    color: rgb(155, 230, 213);
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(0, 115, 105);
    padding: 5px 10px;
    font-size: x-large;
    margin-top:10px;
    height: 40px;
    width: 60px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  background-color: rgb(22, 183, 148);
  margin: 0;
}

select {
    background-color: rgb(0, 0, 0);
    color: rgb(22, 183, 148);
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(0, 115, 105);
    padding: 5px 10px;
    margin: 15px;
    /* size: 100px 70px; */
    size: 100%;
}

label {
    text-align: center;
    font-size: large;
    font-weight: 600;
    color: rgb(0, 91, 83);
}

#timerDisplay {
    text-align: center;
    font-size: large;
    font-weight: 600;
    color: rgb(0, 115, 105);
    background-color: black;
    padding: 20px 10px;
    border-radius: 35px;
    box-shadow: 3px 3px rgb(0, 115, 105);
}